<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="flashlight-outline"></ion-icon>
      <ion-label>{{ 'pages.home.title' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="events" href="/tabs/events">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>{{ 'pages.events.title' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'pages.settings.title' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
