<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title translate>pages.notifications.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="needsPermission">
    <ion-list-header>
      <ion-label>{{ 'pages.notifications.permissionsTitle' | translate }}</ion-label>
    </ion-list-header>
    <ion-item *ngIf="showRequestButton" lines="none">
      <ion-note>{{ 'pages.notifications.permissionPromptInfo' | translate }}</ion-note>
    </ion-item>
    <ion-item *ngIf="showRequestButton" button (click)="notifications.requestPermissions()">
      <ion-label>{{ 'pages.notifications.requestPermissions' | translate }}</ion-label>
    </ion-item>
    <ion-item *ngIf="showWebDeniedNote" lines="none">
      <ion-note>{{ 'pages.notifications.permissionWebDeniedNote' | translate }}</ion-note>
    </ion-item>
    <ion-item *ngIf="showSettingsButton" lines="none">
      <ion-note>{{ 'pages.notifications.permissionDeniedInfo' | translate }}</ion-note>
    </ion-item>
    <ion-item *ngIf="showSettingsButton" button (click)="notifications.openSettings()">
      <ion-label>{{ 'pages.notifications.openSettings' | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'pages.notifications.upcomingTitle' | translate }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let event of scheduledEvents">
      <ion-label>
        <h3>{{ event.name || event.message }}</h3>
        <p *ngIf="!isPast(event)">{{ 'pages.notifications.notifyAt' | translate: { time: reminderTime(event) } }}</p>
        <p *ngIf="isPast(event)">{{ 'pages.notifications.past' | translate }}</p>
      </ion-label>
      <ion-toggle
        slot="end"
        [checked]="notifications.isScheduled(event.id)"
        [disabled]="isPast(event)"
        (ionChange)="toggleNotification(event)">
      </ion-toggle>
    </ion-item>
    <ion-item *ngIf="scheduledEvents.length === 0">
      <ion-label>{{ 'pages.notifications.noUpcoming' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
