<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>pages.notifications.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="showRequestButton" button (click)="notifications.requestPermissions()" translate>
      pages.notifications.requestPermissions
    </ion-item>
    <ion-item *ngIf="showSettingsButton" button (click)="notifications.openSettings()" translate>
      pages.notifications.openSettings
    </ion-item>
    <ion-radio-group *ngIf="showControls" [(ngModel)]="notificationOption">
      <ion-list-header>
        <ion-label translate [translateParams]="{ time: notificationTime }">
          pages.notifications.options.title
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let key of notificationOptionsKeys">
        <ion-label translate>{{ 'pages.notifications.options.' + key }}</ion-label>
        <ion-radio [value]="key"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
