:host {
  display: block;
  height: 100%;
}

ion-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#light-area {
    display: flex;
    justify-content: center;
    padding: 1em;
    flex-grow: 1;
    box-sizing: border-box;
    background-color: black;
    transition: background-color 0.15s;
    span{
      color: white;
      font-size: x-large;
    }
    &.on {
      background-color: white;
    }
  }
