<ion-list>
  <ion-item>
    <ion-label>{{ 'signal.flashlightToggle' | translate }}</ion-label>
    <ion-toggle slot="end" [ngModel]="syncFlashlight" (ngModelChange)="toggleFlash($event)"></ion-toggle>
  </ion-item>
  <div id="light-area" [ngClass]="{ on: messageService.stream$ | async }">
    <span *ngIf="messageService.countDown$ | async as countDown">
      {{ 'signal.countDownLabel' | translate }}: {{ (countDown / 1000) | number: '2.0-0' }} {{ 'common.sec' | translate }}
    </span>
  </div>
</ion-list>
