<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'pages.settings.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select
        [label]="'pages.settings.language' | translate"
        labelPlacement="start"
        [(ngModel)]="settings.selectedLanguage"
      >
        <ion-select-option [value]="lang.code" *ngFor="let lang of languages">{{ lang.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-radio-group [(ngModel)]="settings.autoSyncFlash">
      <ion-item-divider>
        <ion-label>{{ 'pages.settings.syncFlash.label' | translate }}</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-radio value="never" labelPlacement="start" justify="start">
          {{ 'pages.settings.syncFlash.never' | translate }}
        </ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="useRecent" labelPlacement="start" justify="start">
          {{ 'pages.settings.syncFlash.useRecent' | translate }}
        </ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="always" labelPlacement="start" justify="start">
          {{ 'pages.settings.syncFlash.always' | translate }}
        </ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <ion-toggle
        [(ngModel)]="settings.keepalive"
        labelPlacement="start"
        justify="start"
      >
        {{ 'pages.settings.preventSleep' | translate }}
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle
        [(ngModel)]="settings.flashlightAutoShutoff"
        labelPlacement="start"
        justify="start"
      >
        {{ 'pages.settings.flashlightAutoShutoff' | translate }}
      </ion-toggle>
    </ion-item>

    <ion-item-divider>
      <ion-label>{{ 'pages.settings.appSection' | translate }}</ion-label>
    </ion-item-divider>

    <ion-item button (click)="resetConfirm()">
      {{ 'pages.settings.reset.title' | translate }}
    </ion-item>
    <ion-item button routerLink="/notifications" detail>
      <ion-icon slot="start" name="notifications-outline"></ion-icon>
      <ion-label>{{ 'pages.notifications.title' | translate }}</ion-label>
      <ion-badge *ngIf="notifications.permission !== 'granted'" slot="end" color="danger">!</ion-badge>
    </ion-item>
    <ion-item button routerLink="/info" detail>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>{{ 'pages.info.title' | translate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'pages.settings.version' | translate }}</ion-label>
      <ion-text color="medium">{{ version }}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
